<div class="wrap wrap_checklist">
  <div class="inner">
    <div class="b-block">
      <h4 class="b-block__title">Нам интересно</h4>
      <!-- /.b-block__title -->
      <div class="b-block__content">
        <div class="b-checklist-wrap">
          <ul class="b-checklist">
            <li class="b-checklist__item">
              <i class="b-checklist__icon icons-sprite icons-check"></i>
              Проектировать и разрабатывать уникальные приложения
            </li>
            <!-- /.b-checklist__item -->
            <li class="b-checklist__item">
              <i class="b-checklist__icon icons-sprite icons-check"></i>
              Поддерживать и улучшать вашу команду
            </li>
            <!-- /.b-checklist__item -->
            <li class="b-checklist__item">
              <i class="b-checklist__icon icons-sprite icons-check"></i>
              Помогать разбираться в темном мире технологий
            </li>
            <!-- /.b-checklist__item -->
            <li class="b-checklist__item">
              <i class="b-checklist__icon icons-sprite icons-check"></i>
              Добавлять прозрачности и управляемости в разработке
            </li>
            <!-- /.b-checklist__item -->
          </ul>
          <!-- /.b-checklist -->
        </div>
        <!-- /.b-checklist-wrap -->
      </div>
      <!-- /.b-block__content -->
    </div>
    <!-- /.b-block -->
  </div>
  <!-- /.inner -->
</div>
<!-- /.wrap -->