<div class="wrap wrap_checklist">
  <div class="inner">
    <div class="b-checklist">
      <h4 class="b-checklist__title">Нам интересно</h4>
      <!-- /.b-checklist__title -->
      <div class="b-checklist__content">
        <ul class="b-list">

          <li class="b-list__item">
            Проектировать и разрабатывать уникальные приложения
          </li>
          <!-- /.b-list__item -->
          <li class="b-list__item">
            Поддерживать и улучшать вашу команду
          </li>
          <!-- /.b-list__item -->
          <li class="b-list__item">
            Помогать разбираться в темном мире технологий
          </li>
          <!-- /.b-list__item -->
          <li class="b-list__item">
            Добавлять прозрачности и управляемости в разработке
          </li>
          <!-- /.b-list__item -->

        </ul>
        <!-- /.b-list -->
      </div>
      <!-- /.b-checklist__content -->
    </div>
    <!-- /.b-checklist -->
  </div>
  <!-- /.inner -->
</div>
<!-- /.wrap -->