<div class="wrap wrap_contact">
<div class="b-map">
 <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=7COd8q3aXZa_f4Ll8bx_Du6UBxQdriQp&width=600&height=450"></script>
</div>
<!-- /.b-map -->
  <div class="inner">
    <div class="b-contact">
      <h4 class="b-contact__title b-contact__title_bg">контакты</h4>
      <!-- /.b-contact__title b-contact__title_bg -->
      <div class="b-contact__content">
        <div class="b-address">
          <div class="b-address__line">
            <span class="b-address__label">Адрес:</span>
            <span class="b-address__text">Москва, ул. Александра Солженицына д.20 стр.1</span>
          </div>
          <!-- /.b-address__line -->
          <div class="b-address__line">
            <div class="b-address__box">
             <span class="b-address__label">Телефон:</span>
             <span class="b-address__text">7 (985) 991-92-17</span>
           </div>
           <!-- /.b-address__box -->
           <div class="b-address__box">
             <span class="b-address__label">E-mail:</span>
             <a href="mailto:contact@ailabs.ru" class="b-address__text">contact@ailabs.ru</a>
           </div>
           <!-- /.b-address__box -->
         </div>
         <!-- /.b-address__line -->
       </div>
       <!-- /.b-address -->
       <div class="b-contact-form"> 
         <form action="">
           <h6 class="b-contact-form__title">
             Свяжитесь с нами
           </h6>
           <!-- /.b-contact-form__title -->
           <div class="b-contact-form__content">
             <div class="b-contact-form__box">
               <div class="b-contact-form__line">
                <label for="c_name" class="b-contact-form__label">Имя:</label>
                <input type="text" name="" id="c_name" class="b-contact-form__input-submit">
              </div>
              <!-- /.b-contact-form__line -->
              <div class="b-contact-form__line">
                <label for="c_phone" class="b-contact-form__label">Телефон:</label>
                <input type="text" name="" id="c_phone" class="b-contact-form__input-submit">
              </div>
              <!-- /.b-contact-form__line -->
              <div class="b-contact-form__line">
                <label for="c_email" class="b-contact-form__label">E-mail:</label>
                <input type="text" name="" id="c_email" class="b-contact-form__input-submit">
              </div>
              <!-- /.b-contact-form__line -->
            </div>
            <!-- /.b-contact-form__box -->
            <div class="b-contact-form__box">
              <div class="b-contact-form__line">
                <label for="c_message" class="b-contact-form__label">Описание проета:</label>
                <textarea name="" id="c_message"  class="b-contact-form__textarea"></textarea>
              </div>
              <!-- /.b-contact-form__line -->
            </div>
            <!-- /.b-contact-form__box -->
          </div>
          <!-- /.b-contact-form__content -->
          <div class="b-contact-form__action">
            <input type="submit" value="отправить" class="b-contact-form__input-submit">
          </div>
          <!-- /.b-contact-form__action -->
        </form>
        <!-- form -->
      </div>
      <!-- /.b-contact-form -->
    </div>
    <!-- /.b-contact__content -->
  </div>
  <!-- /.b-contact -->
</div>
<!-- /.inner -->
</div>
<!-- /.wrap wrap_contact -->