<div class="wrap wrap_header">
  <div class="inner">
    <div class="b-header">
      <div class="b-top-bar clearfix">
        <div class="b-site">
          <h1 class="b-site__title">
            <a href="" class="link">
              <img src="{{site.baseurl}}images/logo.png" alt="" class="link__logo">
            </a></h1>
            <!-- /.b-site__title -->
          </div>
          <!-- /.b-site -->
          <div class="b-contacts clearfix">
            <a href="contact@ailabs.ru" class="b-contacts__email">contact@ailabs.ru</a>
            <span class="b-contacts__phone">7 (495) 991-92-17</span>
            <a href="#" class="b-contacts__action">Обратный звонок</a>
          </div>
          <!-- /.b-contacts -->
        </div>
        <!-- /.b-top-bar -->
        <div class="b-header-box">
          <h2 class=" b-header-box__title">Бесплатно помогаем провести пресейл</h2>
          <!-- /. _title -->
          <h3 class="b-header-box__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
          </h3> <!-- /. _subtitle -->
          <a href="" class="b-header-box__action">связаться с нами</a>
        </div>
      </div>
      <!-- /.b-header -->
    </div>
    <!-- /.inner -->
  </div>
  <!-- /.wrap header-->