<div class="wrp wrap_under-header">
  <div class="inner">
    <div class="b-block b-block_white">
      <h4 class="b-block__title">почему мы</h4>
      <!-- /.b-block__title -->
      <div class="b-block__content">
        <div class="b-info">
          <h5 class="b-info__title">
            
          </h5>
          <!-- /.b-info__title -->
          <div class="b-info__content">
            
          </div>
          <!-- /.b-info__content -->
        </div>
        <!-- /.b-info -->
      </div>
      <!-- /.b-block__content -->
    </div>
    <!-- /.b-block b-block_white -->
  </div>
  <!-- /.inner -->
</div>
<!-- /.wrap -->