<div class="wrap wrap_under-header">
  <div class="inner">
    <div class="b-block b-block_info">
      <h4 class="b-block__title">почему мы</h4>
      <!-- /.b-block__title -->
      <div class="b-block__content clearfix">
        <div class="b-info-wrap">

          <div class="b-info b-info_1">
            <i class="icons-sprite icons-code b-info__icon"></i>
            <h5 class="b-info__title">
              Пожизненная гарантия на код
            </h5>
            <!-- /.b-info__title -->
            <div class="b-info__content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </div>
            <!-- /.b-info__content -->
          </div>
          <!-- /.b-info -->

          <div class="b-info b-info_2">
            <i class="icons-sprite icons-responsive b-info__icon"></i>
            <h5 class="b-info__title">
              Комплексные решения
            </h5>
            <!-- /.b-info__title -->
            <div class="b-info__content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </div>
            <!-- /.b-info__content -->
          </div>
          <!-- /.b-info -->

          <div class="b-info b-info_3">
            <i class="icons-sprite icons-tz b-info__icon"></i>
            <h5 class="b-info__title">
              Пишем техническое задание
            </h5>
            <!-- /.b-info__title -->
            <div class="b-info__content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </div>
            <!-- /.b-info__content -->
          </div>
          <!-- /.b-info -->

          <div class="b-info b-info_4">
            <i class="icons-sprite icons-hand b-info__icon"></i>
            <h5 class="b-info__title">
             Участвуем в пресейле
           </h5>
           <!-- /.b-info__title -->
           <div class="b-info__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </div>
          <!-- /.b-info__content -->
        </div>
        <!-- /.b-info -->

        <div class="b-info b-info_5">
          <i class="icons-sprite icons-command b-info__icon"></i>
          <h5 class="b-info__title">
            Организуем работу нескольких команд
          </h5>
          <!-- /.b-info__title -->
          <div class="b-info__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </div>
          <!-- /.b-info__content -->
        </div>
        <!-- /.b-info -->

      </div>
    </div>
    <!-- /.b-block__content -->

    <div class="b-block__action">
    <a href="#" class="b-block__action-button">Наши преимущества</a>
    </div>
    <!-- /.b-block__action -->

  </div>
  <!-- /.b-block b-block_white -->
</div>
<!-- /.inner -->
</div>
<!-- /.wrap -->