<div class="wrap wrap_portfolio_white">
  <div class="inner">
    <div class="b-block b-block_portfolio">
      <h4 class="b-block__title">Наши кейсы</h4>
      <!-- /.b-block__title -->
      <div class="b-block__content">
        <div class="b-slider">
          <div class="b-slider__content">
            <div id="slider">
              <div class="b-slider-item clearfix">
                <div class="b-slider-item__image">
                  <img src="" alt="" class="b-slider-item__img">
                </div>
                <!-- /.b-slider-item__image -->
                <div class="b-slider-item__content">
                  <h5 class="b-slider-item__title">
                    Мобильный бэк-офис для банка
                  </h5>
                  <!-- /.b-slider-item__title -->
                  <div class="b-slider-item__description editor">
                   <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                   
                   <p>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                  </div>
                  <!-- /.b-slider-item__description -->
                </div>
                <!-- /.b-slider-item__content -->
              </div>
              <!-- /.b-slider-item clearfix -->
            </div>
          </div>
          <!-- /.b-slider__content -->
          <a href="#" class="b-slider__action b-slider-action_left" id="sliderLeft"></a>
          <a href="#" class="b-slider__action b-slider-action_right" id="sliderRight"></a>
        </div>
        <!-- /.b-slider -->
      </div>
      <!-- /.b-block__content -->
    </div>
    <!-- /.b-block b-block_portfolio -->
  </div>
  <!-- /.inner -->
</div>
<!-- /.wrap wrap_portfolio_white -->