<div class="wrap">
  <div class="inner">
    <div class="b-block b-block_price">
      <h4 class="b-block__title b-block__title_white">Гибкая ценовая политика</h4>
      <!-- /.b-block__title -->
      <div class="b-block__content">
        <div class="b-list b-list_left">
          <div class="b-list__item">
            От бюджета к функционалу
          </div>
          <!-- /.b-list__item -->
          <div class="b-list__item">
            На входе - ограниченный бюджет
          </div>
          <!-- /.b-list__item -->
          <div class="b-list__item">
            Определяем функционал, который можно 
            реализовать в рамках бюджета
          </div>
          <!-- /.b-list__item -->
          <div class="b-list__item">
            Уменьшаем стоимость разработки под бюджет
          </div>
          <!-- /.b-list__item -->
          <div class="b-list__item">
            На выходе - готовый продукт
          </div>
          <!-- /.b-list__item -->
        </div>
        <!-- /.b-list b-list_left -->

        <div class="b-list b-list_right">

          <div class="b-list__item">
            От функционала к бюджету
          </div>
          <!-- /.b-list__item -->
          <div class="b-list__item">
            На входе - четкие спецификации
          </div>
          <!-- /.b-list__item -->
          <div class="b-list__item">
            Оцениваем стоимость и сроки разработки
          </div>
          <!-- /.b-list__item -->
          <div class="b-list__item">
            Бюджет проекта соответствует 
            сложности бюджета
          </div>
          <!-- /.b-list__item -->
          <div class="b-list__item">
            На выходе - готовый продукт
          </div>
          <!-- /.b-list__item -->
        </div>
        <!-- /.b-list b-list_right -->
      </div>
      <!-- /.b-block__content -->
    </div>
    <!-- /.b-block b-block_price -->
  </div>
  <!-- /.inner -->
</div>
<!-- /.wrap -->