<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if page.title %} {{page.title}} | {{site.title}} {% else %} {{site.title}} {% endif %}</title>
  <link rel="stylesheet" href="{{site.baseurl}}css/style.css">
  <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}apple-touch-icon-60x60.png">
  <link rel="icon" type="image/png" href="{{site.baseurl}}favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{site.baseurl}}favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{site.baseurl}}android-chrome-manifest.json">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">
</head>
<body>

    {% include header.html %}

    {% include info-blocks.html %}

    {% include prices.html %}

    {% include portfolio.html %}

    {% include checklist.html %}

    {% include contact.html %}

    {% include footer.html %}

    <script src="{{site.baseurl}}js/functions.js"></script>
  </body>
  </html>